body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}

section > a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

section > a, img {
    width: 400px;
}

.container {
    margin-top: 130px;
}


.container > section {
    display: inline-block;
    margin-left: 75px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
}

.container > section:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}

